{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Hu Tao - Comandos</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Favicons -->
        <link href="static/assets/img/favicon.png" rel="icon">
      
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      
        <!-- Vendor CSS Files -->
        <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
      
        <!-- Template Main CSS File -->
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
      
        <!-- =======================================================
        * Template Name: Techie - v4.7.0
        * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
      </head>



<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo fixed"><a href="/">Hu Tao</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="/">Inicio</a></li>
            <li><a class="nav-link scrollto" href="">Comandos</a></li>
            <li><div class="fs-2 mb-3"> <a class="getstarted scrollto" target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=821360726739910707&permissions=8&scope=bot">Invítame a tu servidor <i class="bi bi-discord"></i></a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
  
    <main id="main">
  
  
      <section class="inner-page">
        <div class="container about">
            <h1>🎶Música</h1>
            <ul>
            {% for c in commandsMusica%}
              <li class="padding-list"><strong>{{ c.name }}</strong>: {{ c.description}}</li>
            {% endfor %}
            </ul>

            <h1 class="top-padding-margin">📜Lista de tareas</h1>
            <ul>
            {% for c in commandsLista%}
              <li class="padding-list"><strong>{{ c.name }}</strong>: {{ c.description}}</li>
            {% endfor %}
            </ul>

            <h1 class="top-padding-margin">🐷Fotos de animales</h1>
            <ul>
            {% for c in commandsAnimales%}
              <li class="padding-list"><strong>{{ c.name }}</strong>: {{ c.description}}</li>
            {% endfor %}
            </ul>   

            <h1 class="top-padding-margin">👻Personajes de Genshin Impact</h1>
            <ul>
            {% for c in commandsGenshin%}
              <li class="padding-list"><strong>{{ c.name }}</strong>: {{ c.description}}</li>
            {% endfor %}
            </ul>  

            <h1 class="top-padding-margin">🖼Fotos de perfil</h1>
            <ul>
            {% for c in commandsPerfil%}
              <li class="padding-list"><strong>{{ c.name }}</strong>: {{ c.description}}</li>
            {% endfor %}
            </ul>   

            <h1 class="top-padding-margin">💱Monedas</h1>
            <ul>
            {% for c in commandsMoneda%}
              <li class="padding-list"><strong>{{ c.name }}</strong>: {{ c.description}}</li>
            {% endfor %}
            </ul>   

            <h1 class="top-padding-margin">🎉Divertidos</h1>
            <ul>
            {% for c in commandsDivertidos%}
              <li class="padding-list"><strong>{{ c.name }}</strong>: {{ c.description}}</li>
            {% endfor %}
            </ul>        

            <h1 class="top-padding-margin">🔧Comandos útiles</h1>
            <ul>
            {% for c in commandsUtiles%}
              <li class="padding-list"><strong>{{ c.name }}</strong>: {{ c.description}}</li>
            {% endfor %}
            </ul>     
        </div>

        
      </section>
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer" class="fixed-bottom">
      
      <div class="d-flex justify-content-center ">
        <div class="copyright-wrap d-md-flex py-4">
          <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
              &copy; Copyright 2022<strong><span> Hu Tao</span></strong>. Todos los derechos reservados
            </div>
          </div>
        </div>
      </div>
    </footer><!-- Fin Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  
    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  
  </body>


</html>