{% load static %}
 <!-- 
──────▄▀▄─────▄▀▄ 
─────▄█░░▀▀▀▀▀░░█▄
─▄▄──█░░░░░░░░░░░█──▄▄
█▄▄█─█░░▀░░┬░░▀░░█─█▄▄█

mEow r ü dOin' heRe?
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">  
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hu Tao - Discord Bot</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- CSS -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo fixed"><a href="/">Hu Tao</a></h1>
      <!-- Futuro logo -->
      <!-- <a href="/" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="commands">Comandos</a></li>
          <li><div class="fs-2 mb-3"> <a class="getstarted scrollto" target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=821360726739910707&permissions=8&scope=bot">Invítame a tu servidor <i class="bi bi-discord"></i></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- Hutao -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Hu Tao</h1>
          <h2>Un bot de Discord multifunción</h2>
          <div><a href="#about" class="btn-get-started scrollto">Conóceme</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img " data-aos="zoom-in" data-aos-delay="150">


          <div id="ghost__id" class="ghost__container img-fluid animated">
            <div onclick="wave()" class="ghost">
              <div class="ghost__ears">
                <div class="ghost__ears__left ear"></div>
                <div class="ghost__ears__right ear"></div>
              </div>
              <div class="ghost__body">
                <div class="ghost__head">
                <div class="ghost__eyes">
                  <div class="ghost__eyes--left eye"></div>
                  <div class="ghost__eyes--right eye"></div>
                </div>
                <div class="ghost__mouth"></div>                 
                <div class="arrow-down"></div>
                <div id= "ghost__arm__left" class="ghost__arm__left"></div>
                <div class="ghost__arm__right"></div>                  
              </div>
              </div>
            </div>
          </div> 
         <!--  <img src="static/assets/img/chib.png" class="img-fluid animated" alt="Hu Tao Chibi"> -->
        </div>
      </div>
    </div>
 
  </section><!-- Fin Hutao -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <a href="https://twitter.com/innyara_/status/1509861382476517377?s=20&t=eyCHrnJAPciMpCr26WyMWg" target="_blank"><img src="static/assets/img/chibi_hutao_opt.png" class="img-about" alt="Dibujo Chibi de Hu Tao realizado por @innyara_ en Twitter"></a>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Duis aute irure dolor</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <a href="commands" class="read-more">Lista de comandos<i class="bi bi-long-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </section><!-- Fin About Section -->
  </main><!-- Fin #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    
    <div class="d-flex justify-content-center">
      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright 2022<strong><span> Hu Tao</span></strong>. Todos los derechos reservados
          </div>
        </div>
      </div>
    </div>
  </footer><!-- Fin Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS -->
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- JS -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>